.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(232, 189, 33);
  /* margin: 15px; */
}
.cart-button {
  background-color: white;
  color: black;
  margin: 10px;
  margin-top: 10px;
}
.cart-button {
  width: 150px;
  border-radius: 10px;
  font-weight: 500;
  padding: 10px;
  text-align: center;
}
